body{
	position: relative;
	padding: none;
	margin-top: 0px;
	font: Arial;
}
#box{
	position: relative;
	padding-top: 10px;
}
#message{
	position: relative;
	box-shadow: 0 0 5px;
	padding: 0px;
	width: 722px;
	min-height: 60px;
}
#avatar{
	position: absolute;
	width: 50px;
	height: 50px;
	border: 5px black;
}
#mesbox{
	position: relative;
	font: Arial;
	padding-left: 65px;
	font-family: Arial;
}
#name{
	position: relative;
	padding-top: 5px;
	font-size: 14px;
}
#text{
	position: relative;
	font-size: 10px;
	padding-top: 3px;
}
#date{
	position: absolute;
	top: 5px;
	color: #909090;
	font-size: 14px;
	right: 10px;
}